# Description: Configuration file for the Cosmotech CosmosDB to Redis migration tool
# Change the values below to match your environment

# Url and scope of the CosmosDB API to migrate from
cosmosdb:
  url: [URL]
  scope: [SCOPE]

# Url and scope of the Redis API to migrate to
redis:
  url: [URL]
  scope: [SCOPE]

options:
#  Uncomment the line below and define it if you have to migrate only one organization with id
#  organizationId: [ORGANIZATION_ID]

